<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403343990842-af78k7r39uiq04h6o1p5dkh8kj1p9iof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403343990842-af78k7r39uiq04h6o1p5dkh8kj1p9iof</string>
	<key>API_KEY</key>
	<string>AIzaSyDKEY0gsYrqtRboxC8zb7LRDEQbZZQSPc8</string>
	<key>GCM_SENDER_ID</key>
	<string>403343990842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hanni.helfy</string>
	<key>PROJECT_ID</key>
	<string>helfy-fbe05</string>
	<key>STORAGE_BUCKET</key>
	<string>helfy-fbe05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403343990842:ios:66ad22bb5c299d1d7cd503</string>
</dict>
</plist>